/*GLOBAL*/
$font-one: 'Montserrat', sans-serif;
$font-two: 'Roboto Slab', serif;
$font-three: 'Cedarville Cursive', cursive;
$color-one: black;
$color-two: rgb(254 209 54);

body {
    font-family: $font-one;
}
/*Intro*/
p {
    font-family: $font-three;
    color: $color-two;
    font-size: 36px;
}

 ul a {
    color: white;
    font-style: none;
    text-align: end;
}

ul a:link { 
    text-decoration: none; 
}

.menu {
    background-image: url("https://i.postimg.cc/HksG6jrV/Background-Image.jpg");
    height: 640px;
    background-color: black;
    width: 100%;
}

.menu .welcome {
    background-color: transparent;
    border: none;
}

.welcome h3 {
    font-style: italic;
    color: white;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    margin-top: 150px;
}

.welcome h1 {
    color: white;
    font-size: 75px;
    text-align: center;
    font-weight: bold;
}

.btn {
    background-color: $color-two;
    border: none;
    align-items: center;
    width: 240px;
    height: 70px;
    display: inline-block;
    line-height: 55px;
    text-align: center;
}

.btn:hover {
    background-color: white;
    color: black;
}

.menu p {
    margin: 50px 0 0 100px;
}

.menu ul {
    margin: 70px 10px 0 0;
}

/*Services*/

.services h2 {
    font-family: $font-one;
    font-size: 40px;
    font-weight: 900;
    margin-top: 100px;
    text-align: center;
}

.services p {
    font-family: $font-two;
    font-size: 16px;
    font-style: italic;
    color: black;
    text-align: center;
}

.services i {
    color: $color-two;
    font-size: 30px;
    text-align: center;
    width: 60px;
    height: 60px;  
    padding: 10px;
    border: solid;
    border-radius: 50%;
    margin: 20px;
}
.services .icon {
    text-align: center; 
}
 .card-title {
    font-size: 18px;
    font-weight: 500;
    font-family: $font-one;
    text-align: center;
}

.card-text {
    font-size: 14px;
    color: rgb(115 115 115);
    text-align: center;
}
.services .card {
    border: none;
    margin: 30px;
    margin-bottom: 100px;
} 

.services .card-body {
    padding: 0;
}

/*Portfolio*/
.portfolio {
    background:rgb(247 247 247);
}

.portfolio h2 {
    font-family: $font-one;
    font-size: 40px;
    font-weight: 900;
    margin-top: 100px;
    text-align: center;
}

.portfolio p {
    font-family: $font-two;
    font-size: 16px;
    font-style: italic;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

